* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: $text-color;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}